* {
  margin: 0;
  padding: 0;
  list-style-position: inside;
  text-decoration: none;
}

::placeholder {
  color: white;
  opacity: 1;
}

::-ms-input-placeholder {
  color: white;
}

h1 {
  text-align: center;
  margin-bottom: 70px;
}

.fs-page-title {
  margin-bottom: 90px;
}
.fs-page-title h1 {
  margin-bottom: 40px;
}
.fs-page-title p {
  color: white;
}

.fs-text {
  margin-top: 30px;
  color: white;
}
@media screen and (min-width: 992px) {
  .fs-text {
    margin-bottom: 80px;
  }
}
.fs-text h2 {
  color: #D3BD53;
}

.fs-blue {
  color: #0D4767;
}

@font-face {
  font-family: "ultra_thin";
  src: url("../font/HelveticaNeueLTStd-UltLt.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "light";
  src: url("../font/HelveticaNeueLTStd-Lt.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "bold";
  src: url("../font/HelveticaNeueLTStd-Bd.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: "ultra_thin", sans-serif;
  letter-spacing: 2px;
  font-weight: 100;
  line-height: 30px;
}

strong {
  font-weight: 900;
}

b {
  font-family: "bold", sans-serif;
}

.fs-gold-font {
  font-family: "light", sans-serif;
}

.fs-logo-title {
  font-size: 50px;
}

.fs-logo-subtitle {
  font-size: 30px;
}

.fs-nav-link a {
  font-size: 30px;
}

.fs-nav-link a {
  font-size: 18px;
}

.fs-section {
  font-size: 20px;
}

h1 {
  font-size: 50px;
}

.fs-accordion-header {
  font-size: 30px;
}

.fs-accordion-body {
  font-size: 20px;
}

.fs-page-title p {
  font-size: 20px;
}

.fs-team-card .fs-team-card-name {
  font-size: 30px;
}
.fs-team-card .fs-team-card-contact-email, .fs-team-card .fs-team-card-contact-phone {
  font-size: 20px;
}

.fs-text h2 {
  font-size: 30px;
}

.fs-news-row-date {
  font-size: 20px;
}

.fs-news-row-title {
  font-size: 30px;
}

.fs-news-row-description {
  font-size: 20px;
}

.fs-news-archive-link {
  font-size: 20px;
}

.fs-contact-form-security {
  font-size: 20px;
}
.fs-contact-form-security h2 {
  font-size: 30px;
}

.fs-service-box-title {
  font-size: 30px;
}

.fs-contact-form-submit {
  font-size: 20px;
}

.fs-footer-links li a {
  font-size: 20px;
}

@media (min-width: 768px) {
  .fs-logo-title {
    font-size: 40px;
  }

  .fs-logo-subtitle {
    font-size: 25px;
  }

  .fs-nav-link a {
    font-size: 25px !important;
  }

  .fs-section {
    font-size: 15px;
  }

  h1 {
    font-size: 40px;
  }

  .fs-accordion-header {
    font-size: 25px;
  }

  .fs-accordion-body {
    font-size: 15px;
  }

  .fs-page-title p {
    font-size: 15px;
  }

  .fs-team-card .fs-team-card-name {
    font-size: 25px;
  }
  .fs-team-card .fs-team-card-contact-email, .fs-team-card .fs-team-card-contact-phone {
    font-size: 15px;
  }

  .fs-text h2 {
    font-size: 25px;
  }

  .fs-news-row-date {
    font-size: 15px;
  }

  .fs-news-row-title {
    font-size: 25px;
  }

  .fs-news-row-description {
    font-size: 15px;
  }

  .fs-news-archive-link {
    font-size: 15px;
  }

  .fs-contact-form-security {
    font-size: 15px;
  }
  .fs-contact-form-security h2 {
    font-size: 25px;
  }

  .fs-service-box-title {
    font-size: 25px;
  }

  .fs-contact-form-submit {
    font-size: 15px;
  }

  .fs-footer-links li a {
    font-size: 15px;
  }
}
@media (max-width: 768px) {
  .fs-logo-title {
    font-size: 25px;
  }

  .fs-logo-subtitle {
    font-size: 18px;
  }

  .fs-nav-link a {
    font-size: 18px !important;
  }

  .fs-section {
    font-size: 12px;
  }

  h1 {
    font-size: 25px;
  }

  .fs-accordion-header {
    font-size: 18px;
  }

  .fs-accordion-body {
    font-size: 12px;
  }

  .fs-page-title p {
    font-size: 12px;
  }

  .fs-team-card .fs-team-card-name {
    font-size: 18px;
  }
  .fs-team-card .fs-team-card-contact-email, .fs-team-card .fs-team-card-contact-phone {
    font-size: 12px;
  }

  .fs-text h2 {
    font-size: 18px;
  }

  .fs-news-row-date {
    font-size: 12px;
  }

  .fs-news-row-title {
    font-size: 18px;
  }

  .fs-news-row-description {
    font-size: 12px;
  }

  .fs-news-archive-link {
    font-size: 12px;
  }

  .fs-contact-form-security {
    font-size: 12px;
  }
  .fs-contact-form-security h2 {
    font-size: 18px;
  }

  .fs-service-box-title {
    font-size: 18px;
  }

  .fs-contact-form-submit {
    font-size: 15px;
  }

  .fs-footer-links li a {
    font-size: 12px;
  }
}
.fs-background-2 {
  background-color: #0D4767;
  color: white;
}
.fs-background-2 h1 {
  color: #D3BD53;
}

.fs-background-1 {
  background-color: white;
}
.fs-background-1 h1 {
  color: #0D4767;
}
.fs-background-1 .fs-accordion-header {
  color: #0D4767;
  border-top: 1px solid #6E6E6E;
}
.fs-background-1 .fs-accordion-content {
  color: #6E6E6E;
}

.fs-header {
  height: 768px;
  background: url("../images/header.png") right no-repeat;
  background-size: cover;
}
@media (max-width: 768px) {
  .fs-header {
    height: 100vh;
  }
}

.fs-logo {
  width: 100%;
  padding-bottom: 118px;
}
@media screen and (min-width: 576px) {
  .fs-logo {
    width: 100%;
  }
}
@media screen and (min-width: 768px) {
  .fs-logo {
    width: 100%;
  }
}
@media screen and (min-width: 992px) {
  .fs-logo {
    width: 70%;
  }
}
@media screen and (min-width: 1200px) {
  .fs-logo {
    width: 60%;
  }
}

.h-75 {
  height: 75%;
}

.fs-header-logo {
  padding-left: 1%;
  padding-top: 1%;
}
@media screen and (min-width: 768px) {
  .fs-header-logo {
    padding-left: 2%;
    padding-top: 2%;
  }
}

.fs-gold-font {
  color: #D3BD53;
}

.fs-header-button, .fs-header-close-button {
  height: 75px;
  width: 75px;
  position: fixed;
  right: 0;
  left: unset;
  margin-top: 75px;
  margin-right: 75px;
  z-index: 100;
  border: none;
  background: url("../images/icons/menu_icon.png") no-repeat center;
  background-size: 75px;
}
.fs-header-button:focus, .fs-header-button:active, .fs-header-close-button:focus, .fs-header-close-button:active {
  outline: 0;
}
@media (max-width: 768px) {
  .fs-header-button, .fs-header-close-button {
    height: 50px;
    width: 50px;
    background-size: 50px;
    margin-top: 25px;
    margin-right: 25px;
  }
}

.fs-header-close-button {
  background: url("../images/icons/menu_button_close.svg") no-repeat center;
  background-size: 75px;
}
@media (max-width: 768px) {
  .fs-header-close-button {
    background-size: 50px;
  }
}

.fs-overlay {
  display: none;
  height: max-content;
  width: 100%;
  overflow-y: scroll;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 1000;
  background-color: white;
}
@media (max-width: 768px) {
  .fs-overlay {
    height: 100%;
  }
}
.fs-overlay .fs-logo-title {
  margin-top: 100px;
  margin-bottom: 32px;
  color: #0D4767;
}
.fs-overlay .fs-logo-title a, .fs-overlay .fs-logo-title a:hover {
  text-decoration: none;
  color: #0D4767;
}
.fs-overlay ul:last-child {
  margin-bottom: 80px;
}
.fs-overlay li {
  border-top: 1px solid #D3BD53;
  padding: 20px 0;
}
.fs-overlay li:hover {
  background-color: #F0F0F0;
}
.fs-overlay li a {
  color: #0D4767;
  font-size: 30px;
  text-decoration: none;
}
.fs-overlay li a:hover {
  color: #0D4767;
}

/* to the body element */
.noscroll {
  overflow: hidden;
}

[aria-hidden=true] {
  display: none;
}

[aria-hidden=false] {
  display: block;
}

/* this code is not strictly necessary: just to make this demo a bit pleasant */
.fs-section {
  padding: 50px 0;
}
@media screen and (min-width: 768px) {
  .fs-section {
    padding: 100px 0;
  }
}

.fs-pre-footer-image {
  height: 768px;
  background: url("../images/goldenes_seil_rz.png") no-repeat center;
  background-size: cover;
}

.fs-article-header, .fs-news-header {
  height: 350px;
  width: 100%;
  margin-bottom: 80px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.fs-article-header h1, .fs-news-header h1 {
  color: gold;
  text-align: left !important;
}

.fs-news-header {
  background-color: #0D4767;
}

.fs-article-spacer {
  margin-bottom: 200px;
}
@media (max-width: 768px) {
  .fs-article-spacer {
    margin-bottom: 100px;
  }
}

.fs-widgets {
  z-index: 900;
  position: fixed;
  top: 50%;
  right: 0;
}
.fs-widgets .fs-widget-link-email, .fs-widgets .fs-widget-link-phone {
  height: 35px;
  padding-left: 50px;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  -moz-box-shadow: 0 0 3px #6E6E6E;
  -webkit-box-shadow: 0 0 3px #6E6E6E;
  box-shadow: 0 0 3px #6E6E6E;
}
.fs-widgets .fs-widget-link-email {
  background: url("../images/icons/phone_icon.svg") no-repeat left 10px center white;
}
.fs-widgets .fs-widget-link-phone {
  background: url("../images/icons/mail_icon.svg") no-repeat left 10px center white;
}

.fs-accordion-header {
  width: 100%;
  display: block;
  padding: 25px 24px 25px 0;
  word-break: break-word;
  cursor: pointer;
  color: #D3BD53;
  border-top: 1px solid white;
  background: url("../images/icons/arrow_down.png") right center no-repeat;
  background-size: 24px;
}
.fs-accordion-header:focus, .fs-accordion-header:active {
  outline: none;
}

.fs-accordion-content {
  margin-bottom: 25px;
  color: white;
}

.fs-service-container {
  padding-top: 0px;
}
@media screen and (min-width: 1200px) {
  .fs-service-container {
    padding-top: 80px;
  }
}

.fs-service-box-title a {
  color: #0D4767;
}

.fs-team-card {
  color: white;
  margin-bottom: 50px;
}
@media screen and (min-width: 992px) {
  .fs-team-card {
    margin-bottom: 100px;
  }
}
.fs-team-card .fs-team-card-name {
  padding: 25px 0;
  color: #D3BD53;
}
.fs-team-card .fs-team-card-description {
  font-weight: 500;
}
.fs-team-card ul {
  width: 100%;
  padding: 25px 0;
}
.fs-team-card .fs-team-card-contact-email, .fs-team-card .fs-team-card-contact-phone {
  padding-left: 34px;
  background-size: 28px;
  color: #D3BD53;
  font-weight: 500;
}
.fs-team-card .fs-team-card-contact-email a, .fs-team-card .fs-team-card-contact-phone a {
  color: #D3BD53;
}
.fs-team-card .fs-team-card-contact-email a:hover, .fs-team-card .fs-team-card-contact-phone a:hover {
  color: gold;
  text-decoration: underline;
}
@media (max-width: 1200px) {
  .fs-team-card img {
    height: auto;
    width: 175px;
  }
}
.fs-team-card .fs-team-card-contact-email {
  background: url("../images/icons/mail_icon.svg") no-repeat left center;
}
.fs-team-card .fs-team-card-contact-phone {
  background: url("../images/icons/phone_icon.svg") no-repeat left center;
}

.fs-service-container img {
  height: 155px;
}
@media (max-width: 768px) {
  .fs-service-container img {
    height: 120px;
  }
}

.fs-news-row {
  padding: 35px 35px 35px 175px;
  color: white;
  border-bottom: 1px solid white;
  background: url("../images/icons/news_icon.svg") no-repeat left center;
  background-size: 112px;
}
.fs-news-row .fs-news-row-title a {
  color: gold;
  text-decoration: none;
}
.fs-news-row .fs-news-row-title a:hover {
  text-decoration: underline;
}
.fs-news-row a {
  color: white;
  text-decoration: underline;
}
@media (max-width: 768px) {
  .fs-news-row {
    padding-left: 100px;
    background-size: 75px;
  }
}

.fs-news-archive-link {
  margin-top: 50px;
  color: white;
  text-decoration: underline;
}
.fs-news-archive-link:hover {
  color: white;
  text-decoration: none;
}

.fs-archive-container {
  margin-bottom: 30px;
}

.fs-archive-container > .article > .fs-news-row {
  padding: 35px 35px 35px 175px;
  color: #6E6E6E;
  border-bottom: 1px solid #6E6E6E;
  background: url("../images/icons/news_icon_archive.svg") no-repeat left center;
  background-size: 112px;
}
.fs-archive-container > .article > .fs-news-row .fs-news-row-title a {
  color: gold;
  text-decoration: none;
}
.fs-archive-container > .article > .fs-news-row .fs-news-row-title a:hover {
  text-decoration: underline;
}
.fs-archive-container > .article > .fs-news-row a {
  color: #6E6E6E;
  text-decoration: underline;
}
@media (max-width: 768px) {
  .fs-archive-container > .article > .fs-news-row {
    padding-left: 100px;
    background-size: 75px;
  }
}

.fs-article-header-title img {
  margin-bottom: 0.5rem;
}

.fs-contact-form h2 {
  padding: 50px 0;
  color: #D3BD53;
}
.fs-contact-form input, .fs-contact-form textarea {
  width: 75%;
  padding: 20px;
  margin-bottom: 50px;
  color: white;
  background-color: transparent;
  border: 0;
  border-bottom: 1px solid white;
}
.fs-contact-form input:focus, .fs-contact-form input:active, .fs-contact-form textarea:focus, .fs-contact-form textarea:active {
  outline: none;
}
.fs-contact-form input:nth-child(2) {
  width: 50%;
}
@media screen and (max-width: 768px) {
  .fs-contact-form input:nth-child(2) {
    width: 100%;
  }
}
.fs-contact-form textarea {
  height: 300px;
}
.fs-contact-form .fs-contact-form-submit {
  height: 70px;
  width: min-content;
  margin-top: 80px;
  padding: 0 75px;
  color: #0D4767;
  border-radius: 50px;
  background-color: white;
}
@media (max-width: 768px) {
  .fs-contact-form .fs-contact-form-submit {
    height: 35px;
    padding: 0 36px;
  }
}
.fs-contact-form .fs-contact-form-callback {
  width: 75%;
}
.fs-contact-form .fs-contact-form-callback input {
  width: 48%;
}
.fs-contact-form .fs-contact-form-security h2 {
  color: white;
  padding-bottom: 0;
}
.fs-contact-form .fs-contact-form-security input[type=checkbox] {
  width: auto;
  margin-right: 15px;
  margin-bottom: 0;
}
@media (max-width: 768px) {
  .fs-contact-form input, .fs-contact-form textarea {
    width: 100%;
  }
  .fs-contact-form .fs-contact-form-callback {
    width: 100%;
  }
}

footer {
  padding: 55px 0;
}

.fs-footer-links li {
  list-style-type: none;
  margin: 0 28px;
}
.fs-footer-links li a {
  color: white;
  text-decoration: underline;
}
.fs-footer-links li a:hover {
  color: white;
}

/*# sourceMappingURL=main.css.map */
