.fs-accordion-header
  width: 100%
  display: block
  padding: 25px 24px 25px 0
  word-break: break-word
  cursor: pointer
  color: $gold
  border-top: 1px solid white
  background: url("../images/icons/arrow_down.png") right center no-repeat
  background-size: 24px

  &:focus, &:active
    outline: none

.fs-accordion-content
  margin-bottom: 25px
  color: white

.fs-service-container
  padding-top: 0px

  @media screen and (min-width: $xl)
    padding-top: 80px

.fs-service-box-title
  a
    color: $blue


