.fs-background-2
  background-color: $blue
  color: white
  h1
    color: $gold

.fs-background-1
  background-color: white
  h1
    color: $blue
  .fs-accordion-header
    color: $blue
    border-top: 1px solid $dark-gray

  .fs-accordion-content
    color: $dark-gray
