*
  margin: 0
  padding: 0
  list-style-position: inside
  text-decoration: none

::placeholder
  color: white
  opacity: 1

::-ms-input-placeholder
  color: white

h1
  text-align: center
  margin-bottom: 70px

.fs-page-title
  margin-bottom: 90px
  h1
    margin-bottom: 40px
  p
    color: white

.fs-text
  margin-top: 30px

  @media screen and (min-width: $lg)

    margin-bottom: 80px

  color: white
  h2
    color: $gold

.fs-blue
  color: $blue

