// TEAM CARD ELEMENT
.fs-team-card
  color: white

  margin-bottom: 50px

  @media screen and (min-width: $lg)

    margin-bottom: 100px

  //&:not(:nth-child(n+2))
    margin-bottom: 175px

  .fs-team-card-name
    padding: 25px 0
    color: $gold

  .fs-team-card-description
    font-weight: 500

  ul
    width: 100%
    padding: 25px 0

  .fs-team-card-contact-email, .fs-team-card-contact-phone
    padding-left: 34px

    background-size: 28px
    color: $gold
    font-weight: 500

    a
      color: $gold

      &:hover
        color: gold
        text-decoration: underline

  img
    @media (max-width: $xl)
      height: auto
      width: 175px

  .fs-team-card-contact-email
    background: url("../images/icons/mail_icon.svg") no-repeat left center

  .fs-team-card-contact-phone
    background: url("../images/icons/phone_icon.svg") no-repeat left center

// ADDITIONAL SERVICE

.fs-service-container
  img
    height: 155px
    @media (max-width: $md)
      height: 120px

// NEWS ELEMENTS
.fs-news-row

  padding: 35px 35px 35px 175px

  color: white
  border-bottom: 1px solid white
  background: url("../images/icons/news_icon.svg") no-repeat left center
  background-size: 112px

  .fs-news-row-title
    a
      color: gold
      text-decoration: none
      &:hover
        text-decoration: underline

  a
    color: white
    text-decoration: underline

  @media (max-width: $md)
    padding-left: 100px
    background-size: 75px

.fs-news-archive-link
  margin-top: 50px

  color: white
  text-decoration: underline

  &:hover
    color: white
    text-decoration: none

.fs-archive-container
  margin-bottom: 30px

.fs-archive-container > .article > .fs-news-row
  padding: 35px 35px 35px 175px
  color: $dark-gray
  border-bottom: 1px solid $dark-gray
  background: url("../images/icons/news_icon_archive.svg") no-repeat left center
  background-size: 112px

  .fs-news-row-title
    a
      color: gold
      text-decoration: none
      &:hover
        text-decoration: underline

  a
    color: $dark-gray
    text-decoration: underline

  @media (max-width: $md)
    padding-left: 100px
    background-size: 75px



.fs-article-header-title
  img
    margin-bottom: 0.5rem


// CONTACT FORM
.fs-contact-form
  h2
    padding: 50px 0

    color: $gold

  input, textarea
    width: 75%
    padding: 20px
    margin-bottom: 50px

    color: white
    background-color: transparent
    border: 0
    border-bottom: 1px solid white

    &:focus, &:active
      outline: none

  input:nth-child(2)
    width: 50%
    @media screen and (max-width: $md)
      width: 100%

  textarea
    height: 300px

  .fs-contact-form-submit
    height: 70px
    width: min-content
    margin-top: 80px
    padding: 0 75px
    color: $blue
    border-radius: 50px
    background-color: white
    @media (max-width: $md)
      height: 35px
      padding: 0 36px

  .fs-contact-form-callback
    width: 75%

    input
      width: 48%

  .fs-contact-form-security
    h2
      color: white
      padding-bottom: 0

    input[type="checkbox"]
      width: auto
      margin-right: 15px
      margin-bottom: 0

  @media (max-width: $md)
    input, textarea
      width: 100%
    .fs-contact-form-callback
      width: 100%
