@font-face
  font-family: 'ultra_thin'
  src:  url('../font/HelveticaNeueLTStd-UltLt.otf') format('opentype')
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'light'
  src:  url('../font/HelveticaNeueLTStd-Lt.otf') format('opentype')
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'bold'
  src:  url('../font/HelveticaNeueLTStd-Bd.otf') format('opentype')
  font-weight: normal
  font-style: normal

body
  font-family: "ultra_thin", sans-serif
  letter-spacing: 2px
  font-weight: 100
  line-height: 30px

strong
  font-weight: 900

b
  font-family: "bold", sans-serif

.fs-gold-font
  font-family: "light", sans-serif



//  HEADER
.fs-logo-title
  font-size: $big

.fs-logo-subtitle
  font-size: $medium

.fs-nav-link
  a
    font-size: $medium

.fs-nav-link
  a
    font-size: $medium-sm

//  CONTENT PART
.fs-section
  font-size: $small

h1
  font-size: $big

.fs-accordion-header
  font-size: $medium

.fs-accordion-body
  font-size: $small

.fs-page-title
  p
    font-size: $small

.fs-team-card
  .fs-team-card-name
    font-size: $medium
  .fs-team-card-contact-email, .fs-team-card-contact-phone
    font-size: $small

.fs-text
  h2
    font-size: $medium

.fs-news-row-date
  font-size: $small

.fs-news-row-title
  font-size: $medium

.fs-news-row-description
  font-size: $small

.fs-news-archive-link
  font-size: $small

.fs-contact-form-security
  font-size: $small
  h2
    font-size: $medium

.fs-service-box-title
  font-size: $medium

.fs-contact-form-submit
  font-size: $small

//  FOOTER
.fs-footer-links
  li
    a
      font-size: $small

//##################################################
//
//  Responsive
//
//##################################################

@media (min-width: $md)
  //  HEADER
  .fs-logo-title
    font-size: $big-md

  .fs-logo-subtitle
    font-size: $medium-md

  .fs-nav-link
    a
      font-size: $medium-md !important

  //  CONTENT PART
  .fs-section
    font-size: $small-md

  h1
    font-size: $big-md

  .fs-accordion-header
    font-size: $medium-md

  .fs-accordion-body
    font-size: $small-md

  .fs-page-title
    p
      font-size: $small-md

  .fs-team-card
    .fs-team-card-name
      font-size: $medium-md
    .fs-team-card-contact-email, .fs-team-card-contact-phone
      font-size: $small-md

  .fs-text
    h2
      font-size: $medium-md

  .fs-news-row-date
    font-size: $small-md

  .fs-news-row-title
    font-size: $medium-md

  .fs-news-row-description
    font-size: $small-md

  .fs-news-archive-link
    font-size: $small-md

  .fs-contact-form-security
    font-size: $small-md
    h2
      font-size: $medium-md

  .fs-service-box-title
    font-size: $medium-md

  .fs-contact-form-submit
    font-size: $small-md

  //  FOOTER
  .fs-footer-links
    li
      a
        font-size: $small-md




@media (max-width: $md)
  //  HEADER
  .fs-logo-title
    font-size: $big-sm

  .fs-logo-subtitle
    font-size: $medium-sm

  .fs-nav-link
    a
      font-size: $medium-sm !important

  //  CONTENT PART
  .fs-section
    font-size: $small-sm

  h1
    font-size: $big-sm

  .fs-accordion-header
    font-size: $medium-sm

  .fs-accordion-body
    font-size: $small-sm

  .fs-page-title
    p
      font-size: $small-sm

  .fs-team-card
    .fs-team-card-name
      font-size: $medium-sm
    .fs-team-card-contact-email, .fs-team-card-contact-phone
      font-size: $small-sm

  .fs-text
    h2
      font-size: $medium-sm

  .fs-news-row-date
    font-size: $small-sm

  .fs-news-row-title
    font-size: $medium-sm

  .fs-news-row-description
    font-size: $small-sm

  .fs-news-archive-link
    font-size: $small-sm

  .fs-contact-form-security
    font-size: $small-sm
    h2
      font-size: $medium-sm

  .fs-service-box-title
    font-size: $medium-sm

  .fs-contact-form-submit
    font-size: $small-md

  //  FOOTER
  .fs-footer-links
    li
      a
        font-size: $small-sm
