.fs-header
  height: 768px

  background: url("../images/header.png") right no-repeat
  background-size: cover
  @media (max-width: $md)
    height: 100vh

.fs-logo
  width: 100%
  padding-bottom: 118px

  @media screen and (min-width: $sm)
    width: 100%

  @media screen and (min-width: $md)
    width: 100%

  @media screen and (min-width: $lg)
    width: 70%

  @media screen and (min-width: $xl)
    width: 60%

.h-75
  height: 75%

.fs-header-logo
  padding-left: 1%
  padding-top: 1%

  @media screen and (min-width: $md)
    padding-left: 2%
    padding-top: 2%

  //color: white
  //.fs-logo-subtitle
    @media (min-width: $xl)
      margin-left: 83px

.fs-gold-font
  color: $gold

.fs-header-button, .fs-header-close-button
  height: 75px
  width: 75px
  position: fixed
  right: 0
  left: unset
  margin-top: 75px
  margin-right: 75px

  z-index: 100

  border: none
  background: url("../images/icons/menu_icon.png") no-repeat center
  background-size: 75px
  &:focus, &:active
    outline: 0
  @media (max-width: $md)
    height: 50px
    width: 50px
    background-size: 50px
    margin-top: 25px
    margin-right: 25px

.fs-header-close-button
  background: url("../images/icons/menu_button_close.svg") no-repeat center
  background-size: 75px
  @media (max-width: $md)
    background-size: 50px

.fs-overlay
  display: none
  height: max-content
  width: 100%
  overflow-y: scroll
  position: fixed
  top: 0
  right: 0
  left: 0
  bottom: 0
  z-index: 1000
  background-color: white
  @media (max-width: $md)
    height: 100%
  .fs-logo-title
    margin-top: 100px
    margin-bottom: 32px
    color: $blue
    a, a:hover
      text-decoration: none
      color: $blue
  ul:last-child
    margin-bottom: 80px
  li
    border-top: 1px solid $gold
    padding: 20px 0
    &:hover
      background-color: $lightest-gray
    a
      color: $blue
      font-size: $medium
      text-decoration: none
      &:hover
        color: $blue


//################# Overlay ###################

/* to the body element */
.noscroll
  overflow: hidden

[aria-hidden="true"]
  display: none

[aria-hidden="false"]
  display: block

/* this code is not strictly necessary: just to make this demo a bit pleasant */




