.fs-section
  padding: 50px 0

  @media screen and (min-width: $md)
    padding: 100px 0

.fs-pre-footer-image
  height: 768px

  background: url("../images/goldenes_seil_rz.png") no-repeat center
  background-size: cover

.fs-article-header, .fs-news-header
  height: 350px
  width: 100%
  margin-bottom: 80px

  background-position: center
  background-repeat: no-repeat
  background-size: contain
  h1
    color: gold
    text-align: left !important

.fs-news-header
  background-color: $blue

.fs-article-spacer
  margin-bottom: 200px
  @media (max-width: $md)
    margin-bottom: 100px

.fs-widgets
  z-index: 900
  position: fixed
  top: 50%
  right: 0
  .fs-widget-link-email, .fs-widget-link-phone
    height: 35px
    padding-left: 50px
    border-top-left-radius: 50px
    border-bottom-left-radius: 50px
    -moz-box-shadow: 0 0 3px $dark-gray
    -webkit-box-shadow: 0 0 3px $dark-gray
    box-shadow: 0 0 3px $dark-gray
  .fs-widget-link-email
    background: url("../images/icons/phone_icon.svg") no-repeat left 10px center white
  .fs-widget-link-phone
    background: url("../images/icons/mail_icon.svg") no-repeat left 10px center white
